:root {
  --font-size: 1rem;
  --font-size--l: 1.125rem;
  --font-size--xl: 1.25rem;
  --font-size--2xl: 1.375rem;
  --font-size--3xl: 1.5rem;
  --font-size--4xl: 1.625rem;
  --font-size--5xl: 1.75rem;
  --font-size--s: .875rem;
  --font-size--xs: .75rem;
  --font-size--2xs: .625rem;
  --font-family--sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family--seruif: Georgia, "Times New Roman", Times, serif;
  --font-family--mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
  --font-family: var(--font-family--sans-serif);
  --line-height: 1.5;
  --color: #2e2e2e;
  --color--alt: #5c5c5c;
  --background-color: #fff;
  --background-color--alt: #f5f5f5;
  --border-color: #8e8e8e;
  --color-headings: #2e2e2e;
  --color-meta: #747474;
  --color-link: #0077cd;
  --color-primary: #0077cd;
  --color-secondary: #d000ca;
  --color-info: #008280;
  --color-success: #008821;
  --color-warning: #a96400;
  --color-danger: #ea002b;
  --color-primary--hover: #005ea3;
  --color-secondary--hover: #a600a1;
  --color-info--hover: #006766;
  --color-success--hover: #006b18;
  --color-warning--hover: #864f00;
  --color-danger--hover: #bb0020;
  --color-highlight: #e4c200;
  --select-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath fill='%232e2e2e' d='M16.594 8.578L18 9.984l-6 6-6-6 1.406-1.406L12 13.172z'/%3e%3c/svg%3e");
  --link-color: var(--color-primary);
  --link-color--hover: var(--color-primary--hover);
  --link-text-decoration: underline;
  --border-color: var(--color-secondary);
  --meta-color: var(--color-secondary);
  --button-background-color: var(--link-color);
  --button-border-color: var(--button-background-color);
  --button-color: #fff;
  --button-background-color--hover: var(--link-color--hover);
  --button-border-color--hover: var(--button-background-color--hover);
  --button-color--hover: var(--button-color);
  --input-color: var(--color);
  --input-placeholder-color: var(--color-secondary);
  --spacing: 1.5rem;
  --spacing--s: 1.375rem;
  --spacing--xs: 1.25rem;
  --spacing--2xs: 1.125rem;
  --spacing--3xs: 1rem;
  --spacing--4xs: .875rem;
  --spacing--5xs: .75rem;
  --spacing--6xs: .625rem;
  --spacing--7xs: .5rem;
  --spacing--l: 1.625rem;
  --spacing--xl: 1.75rem;
  --spacing--2xl: 2rem;
  --card-min-width: 16rem;
}

* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-color-highlight: rgba(0, 0, 0, 0);
  font-size: 100%;
}

body {
  background-color: var(--background-color);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color);
  font-family: var(--font-family);
  width: 100%;
}

main {
  display: block;
}

template {
  display: none;
}

.hidden,
[hidden] {
  display: none;
}

p,
ul,
ol,
dl,
pre,
address,
hr,
table,
figure,
form,
article,
blockquote,
dl {
  margin: 0 0 var(--spacing);
}

dfn,
cite,
em,
i {
  font-style: italic;
}

abbr,
acronym {
  text-decoration: underline dotted var(--color);
  cursor: help;
}

mark,
ins {
  background: var(--color-highlight);
  text-decoration: none;
  color: var(--color);
}

ul {
  list-style: disc outside;
}
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}

ol {
  list-style: decimal outside;
}

ul,
ol {
  padding: 0 0 0 var(--spacing);
}
ul ul,
ul ol,
ol ul,
ol ol {
  padding-top: var(--spacing--xs);
  margin-bottom: 0;
}

li {
  margin-bottom: var(--spacing--xs);
}

a {
  background-color: transparent;
  color: var(--link-color);
  text-decoration: none;
  outline: 0;
}
a:hover, a:focus {
  color: var(--link-color--hover);
  text-decoration: underline;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  outline: 0;
}

b,
strong {
  font-weight: 700;
}

dt,
dd {
  line-height: var(--line-height);
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;
  margin-bottom: var(--spacing--xs);
}

hr {
  height: 0;
  overflow: visible;
  border: 0;
  border-bottom: 1px solid var(--border-color);
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

address {
  display: block;
  font: inherit;
}

table {
  border: 0;
  vertical-align: top;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

tr:nth-child(odd) {
  background-color: var(--background-color--alt);
}

th,
td {
  padding: 0.5em;
  border: 1px solid var(--border-color);
  text-align: left;
}

th {
  font-weight: 700;
}

code,
kbd,
pre,
samp {
  font-family: var(--font-family--monospace);
  font-size: var(--font-size--xs);
  color: var(--color);
}

code,
kbd {
  padding: 0.2em 0.4em;
  border-radius: 0.25em;
}

code {
  background: var(--background-color--alt);
  display: inline-block;
  word-wrap: break-word;
}

kbd {
  color: var(--background-color);
  background-color: var(--color);
}
kbd kbd {
  padding: 0;
  font-size: inherit;
  font-weight: bold;
}

pre {
  background: var(--background-color--alt);
  padding: 1em;
  display: block;
  max-width: 100%;
  overflow: auto;
  border-radius: 0.25em;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

.pre-scrollable {
  max-height: 34rem;
  overflow-y: scroll;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

details {
  display: block;
}

summary {
  display: list-item;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.entry-subtitle {
  font-family: var(--font-family);
  font-weight: 700;
  margin: 0 0 var(--spacing--xs);
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.entry-subtitle a {
  color: var(--color);
}
h1 a:hover, h1 a:focus,
h2 a:hover,
h2 a:focus,
h3 a:hover,
h3 a:focus,
h4 a:hover,
h4 a:focus,
h5 a:hover,
h5 a:focus,
h6 a:hover,
h6 a:focus,
.entry-subtitle a:hover,
.entry-subtitle a:focus {
  color: var(--link-color--hover);
  text-decoration: none;
}

h1 {
  font-size: var(--font-size--4xl);
}

h2 {
  font-size: var(--font-size--3xl);
}

h3 {
  font-size: var(--font-size--2xl);
}

h4 {
  font-size: var(--font-size--xl);
}

h5 {
  font-size: var(--font-size--l);
}

h6 {
  font-size: var(--font-size);
}

button,
input,
optgroup,
select,
textarea,
label,
legend {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
  appearance: none;
}
select:disabled {
  opacity: 1;
}

option {
  color: var(--color);
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button::-moz-focusring,
[type=button]::-moz-focusring,
[type=reset]::-moz-focusring,
[type=submit]::-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

label {
  display: block;
  font-size: var(--font-size--s);
  margin: 0 0 var(--spacing--s);
}
input:invalid ~ label, input.invalid ~ label {
  color: var(--color-danger);
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  color: inherit;
  white-space: normal;
  display: block;
  font-size: var(--font-size--s);
  color: var(--color--alt);
  margin: 0 0 var(--spacing--xs);
}

.helper-text {
  font-size: var(--font-size--s);
  color: var(--color--alt);
  margin: var(--spacing--xs) 0 0 0;
}
input.invalid ~ .helper-text {
  color: var(--color-danger);
}

textarea {
  width: 100%;
  resize: vertical;
}

.form-group {
  margin: 0 0 var(--spacing);
}

.form-check input,
.form-check label {
  display: inline-block;
  margin-right: 0.25em;
}

.form-group--validate {
  display: flex;
  flex-direction: column;
}
.form-group--validate label {
  order: -1;
}
.form-group--validate label,
.form-group--validate .helper-text {
  display: none;
}
.form-group--validate label,
.form-group--validate .helper-text {
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}
.form-group--validate .form-control.invalid ~ .helper-text {
  display: block;
  opacity: 1;
}
.form-group--validate input:focus + label, .form-group--validate input:focus ~ .helper-text {
  display: block;
  opacity: 1;
}

.btn,
button,
input[type=submit],
input[type=button],
input[type=reset],
a[role=button] {
  font-family: var(--font-family);
  padding: 0.5em 1em;
  color: var(--background-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 0;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 0.25em;
  white-space: nowrap;
  outline: none;
  transition: all 0.15s ease-out;
  box-shadow: none;
}
.btn:not(:disabled),
button:not(:disabled),
input[type=submit]:not(:disabled),
input[type=button]:not(:disabled),
input[type=reset]:not(:disabled),
a[role=button]:not(:disabled) {
  cursor: pointer;
}
.btn:hover,
button:hover,
input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover,
a[role=button]:hover, .btn:focus,
button:focus,
input[type=submit]:focus,
input[type=button]:focus,
input[type=reset]:focus,
a[role=button]:focus {
  color: var(--background-color);
  text-decoration: none;
  background-color: var(--color-primary--hover);
  border-color: var(--color-primary--hover);
}
.btn:focus,
button:focus,
input[type=submit]:focus,
input[type=button]:focus,
input[type=reset]:focus,
a[role=button]:focus {
  box-shadow: 0 0 0 4px #cbd6ee;
}
.disabled.btn,
button.disabled,
input.disabled[type=submit],
input.disabled[type=button],
input.disabled[type=reset],
a.disabled[role=button], .btn:disabled,
button:disabled,
input[type=submit]:disabled,
input[type=button]:disabled,
input[type=reset]:disabled,
a[role=button]:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

textarea,
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=time],
input[type=week],
input[type=month],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color],
select,
optgroup,
.form-control {
  font-family: var(--font-family--sans-serif);
  display: block;
  width: 100%;
  padding: 0.5em 0.75em;
  margin: 0;
  color: var(--color);
  border: 1px solid var(--border-color);
  border-radius: 0.25em;
  outline: none;
  background-color: var(--background-color);
  box-shadow: none;
}
textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=date]:focus,
input[type=time]:focus,
input[type=week]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=color]:focus,
select:focus,
optgroup:focus,
.form-control:focus {
  background-color: var(--background-color);
  border-color: var(--border-color);
  box-shadow: 0 0 0 4px #cbd6ee;
}
textarea::-ms-expand,
input[type=text]::-ms-expand,
input[type=password]::-ms-expand,
input[type=datetime]::-ms-expand,
input[type=datetime-local]::-ms-expand,
input[type=date]::-ms-expand,
input[type=time]::-ms-expand,
input[type=week]::-ms-expand,
input[type=month]::-ms-expand,
input[type=number]::-ms-expand,
input[type=email]::-ms-expand,
input[type=url]::-ms-expand,
input[type=search]::-ms-expand,
input[type=tel]::-ms-expand,
input[type=color]::-ms-expand,
select::-ms-expand,
optgroup::-ms-expand,
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
textarea::placeholder,
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=datetime]::placeholder,
input[type=datetime-local]::placeholder,
input[type=date]::placeholder,
input[type=time]::placeholder,
input[type=week]::placeholder,
input[type=month]::placeholder,
input[type=number]::placeholder,
input[type=email]::placeholder,
input[type=url]::placeholder,
input[type=search]::placeholder,
input[type=tel]::placeholder,
input[type=color]::placeholder,
select::placeholder,
optgroup::placeholder,
.form-control::placeholder {
  opacity: 1;
  color: var(--color--alt);
}
textarea.invalid,
input.invalid[type=text],
input.invalid[type=password],
input.invalid[type=datetime],
input.invalid[type=datetime-local],
input.invalid[type=date],
input.invalid[type=time],
input.invalid[type=week],
input.invalid[type=month],
input.invalid[type=number],
input.invalid[type=email],
input.invalid[type=url],
input.invalid[type=search],
input.invalid[type=tel],
input.invalid[type=color],
select.invalid,
optgroup.invalid,
.invalid.form-control, textarea:invalid,
input[type=text]:invalid,
input[type=password]:invalid,
input[type=datetime]:invalid,
input[type=datetime-local]:invalid,
input[type=date]:invalid,
input[type=time]:invalid,
input[type=week]:invalid,
input[type=month]:invalid,
input[type=number]:invalid,
input[type=email]:invalid,
input[type=url]:invalid,
input[type=search]:invalid,
input[type=tel]:invalid,
input[type=color]:invalid,
select:invalid,
optgroup:invalid,
.form-control:invalid {
  border-color: var(--color-danger);
}

select {
  padding-right: 1.5em;
  background-image: var(--select-icon);
  background-repeat: no-repeat;
  background-position: right 0.375em top 50%;
  background-size: 1em auto;
}

input[type=search] {
  box-sizing: border-box;
}

.site {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  padding: var(--spacing);
}

.nav {
  margin-bottom: var(--spacing);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-min-width), 1fr));
  gap: var(--spacing);
}

.card {
  margin: 0;
}

.card-figure {
  margin-bottom: 0.5rem;
}

.card-title {
  margin-bottom: 0;
}

.projects {
  list-style: none;
  padding-left: 0;
  font-weight: 600;
  font-size: var(--font-size--l);
}

.cart th,
.cart td {
  width: 9em;
  text-align: left;
}
.cart button {
  font-size: var(--font-size--xs);
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.cart .item-qty {
  width: 15em;
}
.cart .item-name {
  width: auto;
}
.cart .item-thumb {
  width: 100px;
}

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*=language-],
pre[class*=language-] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: var(--font--family--mono);
  font-size: var(--font-size);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: var(--line-height);
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*=language-]::-moz-selection,
pre[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection,
code[class*=language-] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*=language-]::selection, pre[class*=language-] ::selection,
code[class*=language-]::selection, code[class*=language-] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*=language-],
  pre[class*=language-] {
    text-shadow: none;
  }
}
pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0 var(--spacing);
  overflow: auto;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: #f5f2f0;
}

:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;
  /* This background color was intended by the author of this theme. */
  background: hsla(0, 0%, 100%, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function,
.token.class-name {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/*# sourceMappingURL=style.css.map */
