* {
	box-sizing: border-box;

	&:before,
	&:after {
		box-sizing: border-box;
	}
}

html,
body {
	height: 100%;
}

html {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-color-highlight: rgba(0,0,0,0);
	// font-size: 62.5%;
	font-size: 100%;
}

body {
	background-color: var(--background-color);
	font-size: var(--font-size);
	line-height: var(--line-height);
	color: var(--color);
	font-family: var(--font-family);
	width: 100%;
}

main {
	display: block;
}

template {
	display: none;
}

.hidden,
[hidden] {
	display: none;
}

p,
ul,
ol,
dl,
pre,
address,
hr,
table,
figure,
form,
article,
blockquote,
dl {
	margin: 0 0 var(--spacing);
}

dfn,
cite,
em,
i {
	font-style: italic;
}

abbr,
acronym {
	text-decoration: underline dotted var(--color);
	cursor: help;
}

mark,
ins {
	background: var(--color-highlight);
	text-decoration: none;
	color: var(--color);
}

ul {
	list-style: disc outside;

	ul {
		list-style-type: circle;

		ul {
			list-style-type: square;
		}
	}
}

ol {
	list-style: decimal outside;
}

ul,
ol {
	padding: 0 0 0 var(--spacing);

	ul,
	ol {
		padding-top: var(--spacing--xs);
		margin-bottom: 0;
	}
}

li {
	margin-bottom: var(--spacing--xs);
}

a {
	background-color: transparent; // reset
	color: var(--link-color);
	text-decoration: none;
	outline: 0;

	&:hover,
	&:focus {
		color: var(--link-color--hover);
		text-decoration: underline;
	}

	&:focus {
		outline: thin dotted #333;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
		outline: 0;
	}
}

b,
strong {
	font-weight: 700;
}

dt,
dd {
	line-height: var(--line-height);
}

dt {
	font-weight: 700;
}

dd {
	margin-left: 0; // reset
	margin-bottom: var(--spacing--xs);
}

hr {
	height: 0; // reset
	overflow: visible; // reset
	border: 0;
	border-bottom: 1px solid var(--border-color);
}

abbr[title],
abbr[data-original-title] {
	cursor: help;
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

abbr.initialism {
	font-size: 90%;
	text-transform: uppercase;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
	content: '';
}

address {
	display: block;
	font: inherit;
}

table {
	border: 0;
	vertical-align: top;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

tr:nth-child(odd) {
	background-color: var(--background-color--alt);
}

th,
td {
	padding: 0.5em;
	border: 1px solid var(--border-color);
}

th {
	font-weight: 700;
}

code,
kbd,
pre,
samp {
	font-family: var(--font-family--monospace);
	font-size: var(--font-size--xs);
	color: var(--color);
}

code,
kbd {
	padding: .2em .4em;
	border-radius: .25em;
}

code {
	background: var(--background-color--alt);
	display: inline-block;
	word-wrap: break-word;
}

kbd {
	color: var(--background-color);
	background-color: var(--color);

	kbd {
		padding: 0;
		font-size: inherit;
		font-weight: bold;
	}
}

pre {
	background: var(--background-color--alt);
	padding: 1em;
	display: block;
	max-width: 100%;
	overflow: auto;
	border-radius: .25em;

	code {
		padding: 0;
		font-size: inherit;
		color: inherit;
		background-color: transparent;
		border-radius: 0;
	}
}

.pre-scrollable {
	max-height: 34rem;
	overflow-y: scroll;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

details {
	display: block;
}

summary {
	display: list-item;
}

img {
	max-width: 100%;
	height: auto;
}

// HEADINGS
// -------------------------
h1,
h2,
h3,
h4,
h5,
h6,
.entry-subtitle {
	font-family: var(--font-family);
	font-weight: 700;
	margin: 0 0 var(--spacing--xs);

	a {
		color: var(--color);

		&:hover,
		&:focus {
			color: var(--link-color--hover);
			text-decoration: none;
		}
	}
}

h1 {
	font-size: var(--font-size--4xl);
}

h2 {
	font-size: var(--font-size--3xl);
}

h3 {
	font-size: var(--font-size--2xl);
}

h4 {
	font-size: var(--font-size--xl);
}

h5 {
	font-size: var(--font-size--l);
}

h6 {
	font-size: var(--font-size);
}

// RESETS
button,
input,
optgroup,
select,
textarea,
label,
legend {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
	word-wrap: normal;
	appearance: none;

	&:disabled {
		opacity: 1;
	}
}

option {
	color: var(--color);
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;

	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}

	&::-moz-focusring {
		outline: 1px dotted ButtonText;
	}
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
// THEME
label {
	display: block;
	font-size: var(--font-size--s);
	margin: 0 0 (var(--spacing--s));

	input:required ~ &,
	input.required ~ & {

	}

	input:invalid ~ &,
	input.invalid ~ & {
		color: var(--color-danger);
	}
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

legend {
	// reset styles
	display: block;
	width: 100%;
	max-width: 100%;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	color: inherit;
	white-space: normal;
	display: block;
	font-size: var(--font-size--s);
	color: var(--color--alt);
	margin: 0 0 var(--spacing--xs);
}

.helper-text {
	font-size: var(--font-size--s);
	color: var(--color--alt);
	margin: var(--spacing--xs) 0 0 0;

	input.invalid ~ & {
		color: var(--color-danger);
	}
}

textarea {
	width: 100%;
	resize: vertical;
}

// FORM GROUPS
// -------------------------
.form-group {
	margin: 0 0 var(--spacing);
}

.form-check {
	input,
	label {
		display: inline-block;
		margin-right: .25em;
	}
}

.form-group--validate {
	display: flex;
	flex-direction: column;

	label {
		order: -1;
	}

	label,
	.helper-text {
		display: none;
	}

	label,
	.helper-text {
		opacity: 0;
		transition: opacity .15s ease-in-out;
	}

	.form-control {
		&.invalid {
			~ .helper-text {
				display: block;
				opacity: 1;
			}
		}
	}

	input:focus {
		& + label,
		& ~ .helper-text {
			display: block;
			opacity: 1;
		}
	}
}

// BUTTONS
// ---------------------------
%btn {
	font-family: var(--font-family);
	padding: .5em 1.125em;
	color: var(--background-color);
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	display: inline-block;
	margin-bottom: 0;
	background-color: var(--color-primary);
	border: 1px solid var(--color-primary);
	border-radius: .25em;
	white-space: nowrap;
	outline: none;
	transition: all 0.15s ease-out;
	box-shadow: none;

	&:not(:disabled) {
		cursor: pointer;
	}

	&:hover,
	&:focus {
		color: var(--background-color);
		text-decoration: none;
		background-color: var(--color-primary--hover);
		border-color: var(--color-primary--hover);
	}

	&:focus {
		box-shadow: 0 0 0 4px #cbd6ee; // safari-style focus
	}

	&.disabled,
	&:disabled {
		cursor: not-allowed;
		pointer-events: none;
		opacity: 0.5;
	}
}

.btn,
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
a[role="button"] {
	@extend %btn;
}

// FORM CONTROLS
// ---------------------------
%form-control {
	font-family: var(--font-family--sans-serif);
	display: block;
	width: 100%;
	padding: 0.5em 0.75em;
	margin: 0;
	color: var(--color);
	border: 1px solid var(--border-color);
	border-radius: 0.25em;
	outline: none;
	background-color: var(--background-color);
	box-shadow: none;

	&:focus {
		background-color: var(--background-color);
		border-color: var(--border-color);
		box-shadow: 0 0 0 4px #cbd6ee;
	}

	&::-ms-expand {
		background-color: transparent;
		border: 0;
	}

	&::placeholder {
		opacity: 1;
		color: var(--color--alt);
	}

	&.invalid,
	&:invalid {
		border-color: var(--color-danger);
	}
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="time"],
input[type="week"],
input[type="month"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
optgroup,
.form-control {
	@extend %form-control;
}

select {
	padding-right: 1.5em;
	background-image: var(--select-icon);
	background-repeat: no-repeat;
	background-position: right .375em top 50%;
	background-size: 1em auto;
}

input[type="search"] {
	box-sizing: border-box;
}


