:root {
	--font-size: 1rem;
	--font-size--l: 1.125rem;
	--font-size--xl: 1.25rem;
	--font-size--2xl: 1.375rem;
	--font-size--3xl: 1.5rem;
	--font-size--4xl: 1.625rem;
	--font-size--5xl: 1.75rem;
	--font-size--s: .875rem;
	--font-size--xs: .75rem;
	--font-size--2xs: .625rem;
	--font-family--sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
	--font-family--seruif: Georgia, "Times New Roman", Times, serif;
	--font-family--mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
	--font-family: var(--font-family--sans-serif);
	--line-height: 1.5;
	--background-color: #fff;

    --color: #2e2e2e;
	--color--alt: #5c5c5c;
	--background-color: #fff;
	--background-color--alt: #c4c4c4;
	--border-color: #8e8e8e;
	--color-headings: #2e2e2e;
	--color-meta: #747474;
	--color-link: #0077cd;
	--color-primary: #0077cd;
	--color-secondary: #d000ca;
	--color-info: #008280;
	--color-success: #008821;
	--color-warning: #a96400;
	--color-danger: #ea002b;
	--color-primary--hover: #005ea3;
	--color-secondary--hover: #a600a1;
	--color-info--hover: #006766;
	--color-success--hover: #006b18;
	--color-warning--hover: #864f00;
	--color-danger--hover: #bb0020;
	--color-highlight: #e4c200;
	--select-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath fill='%232e2e2e' d='M16.594 8.578L18 9.984l-6 6-6-6 1.406-1.406L12 13.172z'/%3e%3c/svg%3e");
	--link-color: var(--color-primary);
	--link-color--hover: var(--color-primary--hover);
	--link-text-decoration: underline;
	--border-color: var(--color-secondary);
	--meta-color: var(--color-secondary);
	--button-background-color: var(--link-color);
	--button-border-color: var(--button-background-color);
	--button-color: #fff;
	--button-background-color--hover: var(--link-color--hover);
	--button-border-color--hover: var(--button-background-color--hover);
	--button-color--hover: var(--button-color);
	--input-color: var(--color);
	--input-placeholder-color: var(--color-secondary);
	--spacing: 1.5rem;
	--spacing--s: 1.375rem;
	--spacing--xs: 1.25rem;
	--spacing--2xs: 1.125rem;
	--spacing--3xs: 1rem;
	--spacing--4xs: .875rem;
	--spacing--5xs: .75rem;
	--spacing--6xs: .625rem;
	--spacing--7xs: .5rem;
	--spacing--l: 1.625rem;
	--spacing--xl: 1.75rem;
	--spacing--2xl: 2rem;
	--card-min-width: 16rem;
}
