---
layout: layouts/base.njk
---
<article class="article">
	<header class="article-header">
		<h1>{{title}}</h1>
	</header>

	<div class="article-content">
		{{ content | safe }}
	</div>

	{% for printfile in printfiles %}
		<p><strong>File:</strong> <a href="{{ printfile | url }}">{{ printfile | url }}</a></p>
		<pre data-src="{{ printfile | url }}"></pre>
	{% endfor %}
</article>

