---
title: Projects
tags: Page
layout: layouts/page.njk
---

<ul class="projects">
	{% for page in collections.page %}
		<li><a href="{{ page.url | url }}">{{ page.data.title }}</a></li>
	{% endfor %}
</ul>
