---
title: Projects
tags: Page
layout: layouts/page.njk
---

<ul class="projects">
	{% for post in collections.post %}
		<li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
	{% endfor %}
</ul>
